:root{
  --shadow: 2px 4px 6px rgb(12, 11, 11);
}

body{
  background-color: rgb(236, 176, 185);
}
img{
  height: 20em;

}

.container{
  display: flex;
  justify-content: center;
  background-color: rgb(153, 173, 228);
  text-decoration: underline;
}

.card{
  display: flex;
  justify-content: center;
}

.infoCube{
  background-color: rgb(194, 116, 218);
}

.shadow img{
  box-shadow: var(--shadow); */
}

.border{
  border: dashed;
  border-color: azure;
  border-radius: 1em;
  
}

.mgn{
  margin: auto;
}
.pd-t{
  padding-top: 1em;
}
.pd-b{
  padding-bottom: 1em;
}
.pd-r{
  padding-right: 1em;
}
.pd-l{
  padding-left: 1em;
}